*{
    margin: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body{
    width: 100%;
    height: 100%;
}

.foreground{
    width: 100%;
    height: 100%;
    background: transparent;
    position: fixed;
    display: flex;
    z-index: 100;
}

.center{
    margin: auto;
    width: 35%;
    background: transparent;
}

.center > input{
    width: 100%;
    height: 55px;
    border-radius: 10px;
    border: 2px var(--light-black) solid;
    padding: 12.5px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    color: var(--light-black);
    background: var(--silver-blue);
    transition: .35s;
}
.center > input:focus{
    outline: none;
    border: 2px var(--light-grey) solid;
}

.btn {
    width: 50%;
    height: 60px;
    margin: auto;
    margin-top: 15px;
    position: relative;
    background: var(--white-blue);
    text-align: center;
    overflow: hidden;
    clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    display: flex;
    position: relative;
}
.btn h1{
    position: absolute;
    background: transparent;
    color: var(--black);
    font-size: 30px;
    text-align: center;
    width: calc(100% - 25px);
    margin: 12.5px;
}
.btn > div{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
    clip-path: polygon(5% 0%, 0% 0%, 0% 50%, 0% 100%, 5% 100%, 0% 50%);
    transition: 1s;
}
.btn:hover > div:nth-of-type(1){
    clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
}
.btn:active > div:nth-of-type(2){
    clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
}
.btn > div > div{
    z-index: 50;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--back-blue);
}
.btn > div:nth-of-type(2) > div{
    background: var(--white);
}
.btn > div:nth-of-type(1) > div > h1{
    color: var(--white-blue);
}
.btn > div:nth-of-type(2) > div > h1{
    color: var(--light-black);
}

.result{
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    position: fixed;
    top: 10%;
    display: flex;
    z-index: 1000;
}

.result.active{
    top: 0;
    opacity: 1;
    visibility: visible;
    transition: 2s;
}

.result > #exitbtn{
    position: fixed;
    top: 25px;
    left: 25px;
    height: 75px;
    width: 75px;
    border-radius: 20%;
    overflow: hidden;
}
.result > #exitbtn > *{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    z-index: 2500;
}
.result > #exitbtn > div{
    z-index: 2750;
    background: #FFF0;
    transition: .3s;
}
.result > #exitbtn:hover > div{
    background: #FFF5;
}
.result > .center {
    width: 100%;
    text-align: center;
}
.result > .center *{
    background:transparent;
}
.result > .center > h1{
    color: var(--white-blue);
    margin: 20px;
    font-size: 100px;
    opacity: 0;
    transition: 2s;
}
.result > .center > h5{
    color: var(--light-blue);
    margin: 15px;
    font-size: 25px;
    opacity: 0;
    transition: 1.5s;
}
.result > .center > h5 b{
    color: var(--light-blue);
}
.result > .center > h3{
    color: var(--light-blue);
    margin: 15px;
    font-size: 150px;
    opacity: 0;
    transition: 3s;
}
.visible{
    opacity: 1!important;
}